/* Agrega aquí tus estilos*/
h1{
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
  text-transform: uppercase;
  display: block;
  font-size: 50px;
  color: #f1ebe5;
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  padding: 0px 0px 0px 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  margin: 0px;
}
h1:hover{
	color: red;
}

body,html {
  height: 100%;
  background-color: black;
  text-align: center;
} 
h2{
	color: red;
}

h3{
	color: #FEDC03;
	text-align: center;
}

.summary p:first-child{
	color:blue;
	padding-left: 25%;
}
p{
	font-family: verdana;
	color: white;
	text-align: justify;
	width: 50%;
	height: 50%;
	padding-left: 25%;
}
a{
	color: green;
	
	text-align: center;
}
a, a:link, a:active {
color : #5EA936;
font-weight : 700;
text-decoration: none;
}
.sidebar a{
  border-top: 1px solid #cccccc;
  border-bottom: 2px solid #666666;
  border-left: 1px solid #cccccc;
  border-right: 2px solid #666666;
  border-radius: 25px;
  padding: 2px;
}
a:hover {
color : #EED800;
}
li {
list-style : none;
}
.page-wrapper {
width : 750px;
height : 1600px;
background-color: transparent;
position : relative;
margin : 0 auto;
padding : 20px;
}
footer{
  height :70px;
}
.sidebar {
width : 400px;
left : 500px;
top : 581px;
}
.sidebar ul {
text-align : left;
}
.preamble p, .explanation p, .participation p, .benefits p, .requirements p {
text-align : justify;
line-height : 1.5em;
font-style: italic;
}
.participation p:nth-child(3) {
color: blue;
}
.summary p:first-child{
  color: red;

}
.summary p:last-child{
  color: #FFF000;

}
li{
  margin-top: 15px;
}
h3{
  color:#F3EC0A;
  }
